
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.header{
    background-color: #d49c77;
    background-image:url("https://www.transparenttextures.com/patterns/food.png");
    padding:16 32px;
    margin: auto;
    box-shadow: 0 0 10 0 rgba(0, 0, 0, 0.3);
    
}

@media(max-width: 300px){
    .header{
        justify-content:"center";
    }
    
}

body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


